<!--<div class="container about-us">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-12 detail">-->
      <!--<nb-card class="detail-card">-->
        <!--<nb-card-body style="overflow: inherit;">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-4" style="margin-top: 7%;">-->
              <!--&lt;!&ndash;<ngu-carousel&ndash;&gt;-->
                <!--&lt;!&ndash;class="banner"&ndash;&gt;-->
                <!--&lt;!&ndash;style="height: 500px"&ndash;&gt;-->
                <!--&lt;!&ndash;[inputs]="sliderConfig"&ndash;&gt;-->
                <!--&lt;!&ndash;(carouselLoad)="myfunc($event)">&ndash;&gt;-->
                <!--&lt;!&ndash;<ngu-item NguCarouselItem>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="bannerStyle" style="border-radius: 3px;background: url('./assets/images/camera1.jpg')">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</ngu-item>&ndash;&gt;-->
                <!--&lt;!&ndash;<ngu-item NguCarouselItem>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="bannerStyle" style="border-radius: 3px;background: url('./assets/images/camera2.jpg')">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</ngu-item>&ndash;&gt;-->
                <!--&lt;!&ndash;<ngu-item NguCarouselItem>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="bannerStyle" style="border-radius: 3px;background: url('./assets/images/camera3.jpg')">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</ngu-item>&ndash;&gt;-->
                <!--&lt;!&ndash;<ngu-item NguCarouselItem>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="bannerStyle" style="border-radius: 3px;background: url('./assets/images/camera4.jpg')">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</ngu-item>&ndash;&gt;-->
                <!--&lt;!&ndash;<button NguCarouselPrev style="display: none !important;" class='leftRs'><i&ndash;&gt;-->
                  <!--&lt;!&ndash;class="fa fa-chevron-left"></i></button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button NguCarouselNext style="display: none !important;" class='rightRs'><i&ndash;&gt;-->
                  <!--&lt;!&ndash;class="fa fa-chevron-right"></i></button>&ndash;&gt;-->
              <!--&lt;!&ndash;</ngu-carousel>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-sm-8">-->
              <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                  <!--<h2>چرا چیدنا</h2>-->
                  <!--<p>-->
                    <!--لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها-->
                    <!--و-->
                    <!--متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و-->
                    <!--کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و-->
                    <!--آینده-->
                    <!--شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی-->
                    <!--الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و-->
                    <!--دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی-->
                    <!--دستاوردهای-->
                    <!--اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.-->
                  <!--</p>-->
                  <!--<p>-->
                    <!--در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد-->
                    <!--و-->
                    <!--زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا-->
                    <!--مورد-->
                    <!--استفاده قرار گیرد.-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-sm-12">-->
                <!--<h2>هدف گذاری چیدنا</h2>-->
                <!--<p>-->
                  <!--لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و-->
                  <!--متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و-->
                  <!--کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و-->
                  <!--آینده-->
                  <!--شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی-->
                  <!--الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و-->
                  <!--دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای-->
                  <!--اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.-->
                <!--</p>-->
                <!--<p>-->
                  <!--در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و-->
                  <!--زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد-->
                  <!--استفاده قرار گیرد.-->
                <!--</p>-->
              <!--</div>-->
              <!--<div class="col-sm-12">-->
                <!--<h2>راهبردها و راهکارها</h2>-->
                <!--<p>-->
                  <!--لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و-->
                  <!--متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و-->
                  <!--کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و-->
                  <!--آینده-->
                  <!--شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی-->
                  <!--الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و-->
                  <!--دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای-->
                  <!--اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.-->
                <!--</p>-->
                <!--<p>-->
                  <!--در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و-->
                  <!--زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد-->
                  <!--استفاده قرار گیرد.-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</nb-card-body>-->
      <!--</nb-card>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
