<!--<nav id="mainNav" class="navbar navbar-default noavid-nav navbar-fixed-top navbar-dark fixed-top"-->
<nav id="mainNav" class="navbar navbar-default noavid-nav"
     style="background: rgba(0,0,0,0.3) !important;border-bottom: 1px solid rgba(255,255,255,0.3) !important;">
  <div class="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button style="display: none;" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home" style="
    padding-top: 0;
    padding-right: 0;
    margin-right: -26px;
    padding-left: 46px;
">
        <img src="/assets/img/logo-noavid.png"
             style="width: 72px; margin-top: -8px; margin-right: 44% !important;">
        <span style="
              position: absolute;
              top: 14px;
              right: 110px;
              font-size: 23px;
              font-weight: 400;
        ">
          نوآوید
        </span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse  js-navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="mega-dropdown" *ngFor="let menuItem of menuList">
          <!-- 'dropdown' : (menuItem.childItems && menuItem.childItems.length)}"-->
          <!--access-checker="{{menuItem.feature}}"-->
          <a *ngIf="(menuItem.show && !(menuItem.childrens && menuItem.childrens.length))"
             class="menu-item"
             (click)="onMenuItemClick(menuItem)"
             routerLink="{{menuItem.state}}" routerLinkActive="active">
            <!--<span class="glyphicon {{'glyphicon-'+menuItem.icon}}"></span>-->
            {{menuItem.title}}
          </a>
          <a class="dropdown-toggle menu-item" data-toggle="dropdown"
             href="" routerLinkActive="active"
             role="button" aria-haspopup="true" aria-expanded="false"
             *ngIf="(menuItem.childrens && menuItem.childrens.length && menuItem.show)">
            {{menuItem.title}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu mega-dropdown-menu row" *ngIf="(menuItem.childrens && menuItem.childrens.length)">
            <li class="col-sm-10 col-sm-offset-2">
              <ul>

                <li class="dropdown-header col-sm-2" *ngFor="let childItem of menuItem.childrens">
                  <a (click)="onMenuItemClick(menuItem)" routerLink="{{childItem.state}}" routerLinkActive="active">
                    <span class="submenu-icon glyphicon {{'glyphicon-'+childItem.icon}}"></span>{{childItem.title}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left" *ngIf="!isAuthenticated">
        <li class="dropdown" id="navSignupBtn" style="display: none;">
          <a routerLink="/account/signup" routerLinkActive="active" href="#"
             class="dropdown-toggle register-btn" data-toggle="dropdown"
             role="button"
             aria-haspopup="true" aria-expanded="false">
            ثبت نام
          </a>
        </li>
        <li class="dropdown" id="navLoginBtn">
          <a routerLink="/account/login" routerLinkActive="active" href="#"
             class="dropdown-toggle register-btn" data-toggle="dropdown"
             role="button"
             aria-haspopup="true" aria-expanded="false">
            ورود
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left" *ngIf="isAuthenticated">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">
            {{username}}<span class="caret" style="margin-right: 10px;"></span>
          </a>
          <ul class="dropdown-menu">
            <!--<li><a>{{date|persianDate}}</a></li>-->
            <li><a (click)="goToProfile()">پروفایل</a></li>
            <!--<li><a routerLink="app.account.settings">تنظیمات</a></li>-->
            <!--<li><a routerLink="app.account.forgetPassword">تغیر رمز عبور</a></li>-->
            <li class="divider"></li>
            <li><a (click)="logOut()">خروج</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
