nav {
  margin-bottom: 0 !important;
  box-shadow: 1px 2px 4px -1px #999 !important;
}

.submenu-icon {
  padding: 5px 5px 5px 15px;
}

nav {
  margin-bottom: 0 !important;
}

.nav.navbar-nav {
  margin-right: 10%;
}

.menu-glyphicons {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
}

.noavid-nav {
  border-bottom: 1px solid rgba(255,255,255,0.3) !important;
  background: rgba(0,0,0,0.2) !important;
  -moz-border-top-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  border-image: none !important;
  border-radius: 0 !important;
  border-color: currentcolor currentcolor rgb(153, 153, 153) !important;
  border-bottom: none !important;
  background-color: #fa7d29;
  box-shadow: none !important;
  /*padding-top: 7px;*/
  /*padding-bottom: 7px;*/
}

.noavid-nav a {
  font-size: 17px !important;
  font-weight: 500;
}

.js-navbar-collapse .navbar-nav .menu-item {
  font-size: 16px !important;
  padding: 25px 18px !important;
}

.noavid-nav .nav.navbar-nav a {
  color: #fff !important;
  /*font-size: 17px !important;*/
}

.main-logo {
  width: 37%;
  float: right;
  padding-left: 5%;

}

.homapay-nav .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background: transparent !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: transparent !important;
}

.dropdown-menu {
  /*background-color: transparent !important;*/
}

ul.dropdown-menu {
  background: rgba(00, 00, 80, 0.1) !important;
}

ul.dropdown-menu a:hover, ul.dropdown-menu a:focus {
  background: #fa7d29 !important;
}

.mega-dropdown {
  position: static !important;
  /*width: 100%;*/
}

.nav.navbar-nav.navbar-left{
  padding: 5px !important;
}

.navbar-header {
  padding: 5px !important;
}

.mega-dropdown-menu {
  padding: 20px 0;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.dropdown-menu.mega-dropdown-menu.row {
  top: 71px;
  /*background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0 !important;
  border-radius: 0;
}
.dropdown-menu.mega-dropdown-menu.row a{
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 17px 0 !important;
  border-radius: 2px;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 300;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
  font-size: 14px !important;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.register-btn {
  font-size: 16px !important;
  width: 131px !important;
  padding: 10px !important;
  margin-top: 8px !important;
  border-radius: 25px !important;
  text-align: center !important;
  background: #003caa !important;
  font-weight: 400 !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2) !important;
}
