<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>اطلاعات دیدگاه ها</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Project" class="form-control"/>
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Nick" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" class="form-control"/>
        </div>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="With Icon" class="form-control"/>
        </div>
        <div class="input-group input-group-rounded">
          <input type="text" placeholder="Rounded border" class="form-control"/>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>آدرس ها</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Project" class="form-control"/>
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Nick" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" class="form-control"/>
        </div>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="With Icon" class="form-control"/>
        </div>
        <div class="input-group input-group-rounded">
          <input type="text" placeholder="Rounded border" class="form-control"/>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>سمت ها</nb-card-header>
      <nb-card-body>
        <div class="input-group input-group-border-only">
          <input type="text" placeholder="Border Only" class="form-control"/>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Default Input" class="form-control">
        </div>
        <div class="input-group input-group-fill-only">
          <input type="text" placeholder="Fill Only" class="form-control">
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
