<div class="container">
  <div class="row">
    <div class="first col-xs-12 col-sm-4 col-md-4">
      <h4>ارتباط با ما</h4>
      <p class="phone">
        <i class="fa fa-phone"></i>
        ۰۲۱-۳۴۳۴۳۴۳۴۳۴</p>
      <p class="email">
        <i class="fa fa-envelope"></i>
        info@chidna.com</p>
      <p class="address">
        <i class="fa fa-map-marker"></i>
        کرج سه راه گوهردشت یاسر ۵ پلاک ۴۵ واحد ۵</p>
    </div>

    <div class="second col-xs-12 col-sm-4 col-md-4">
      <p>
        با ثبت نام در خبرنامه NGIR از آخرین محصولات تخفیفات و جشنواره های ما باخبر شوید
      </p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
               aria-describedby="button-addon1">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1">ثبت</button>
        </div>
      </div>
      <div class="socials">
        <a href="#" target="_blank" class="ion ion-social-github"></a>
        <a href="#" target="_blank" class="ion ion-social-facebook"></a>
        <a href="#" target="_blank" class="ion ion-social-twitter"></a>
        <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
      </div>
    </div>

    <div class="third col-xs-12 col-sm-4 col-md-4">
      <div class="cert">
        <div class="images">
          <img src="./assets/images/footer/enamad.png" alt="">
          <img src="./assets/images/footer/layer9.png" alt="">
          <img src="./assets/images/footer/layer10.png" alt="">
        </div>
      </div>
      <div class="footer-nav">
        <a routerLink="/home">صفحه اصلی</a>
        <a routerLink="/qa">پرسش های متداول</a>
        <a routerLink="/about-us">درباره ما</a>
        <a routerLink="/contact-us">تماس باما</a>
        <a routerLink="/policy">قوانین</a>
      </div>
      <p style="line-height: 20px">
        کلیه حقوق این سایت متعلق به NGIR بوده و هرگونه کپی برداری از محصولات آن غیر مجاز است
      </p>
    </div>
  </div>
</div>
