.waiting-dialog {
  background-color: rgba(204, 230, 255, 0.73);
  border: 1px solid #cce6ff;
  border-radius: 2px;
  box-shadow: 0 1px 5px 0 #49535b;
  left: 50%;
  margin-left: -125px;
  padding: 10px;
  position: fixed;
  top: 65px;
  width: 250px;
  z-index: 2000;
}
