<div class="container contactus">
  <div class="row">
    <div class="col-sm-12 detail">
      <nb-card class="detail-card">
        <nb-card-body style="overflow: inherit;">
          <div class="row">
            <div class="col-sm-6 contact-detail">
              <h2>تماس با ما</h2>
              <img src="/assets/images/contact-us/map.png" alt="">
              <p>
                بی صبرانه منتظر شنیدن نظرات و پیشنهادات شما هستیم.
              </p>
              <p>
                لطفا درصورت وجود هرگونه سوال یا مشکلی با خدمات مشتریان ما تماس بگیرید:
              </p>
              <div class="phone-container">
                <i class="fa fa-phone"></i>
                <span>
                  22334455-021
                </span>
                <span>
                  (شنبه تا چهارشنبه، 9 صبح تا 6 بعدازظهر)
                </span>
              </div>
              <div class="phone-container">
                <i class="fa fa-phone"></i>
                <span>
                  22334455-021
                </span>
                <span>
                  (تمامی روزهای هفته، از 8 صبح تا 12 شب)
                </span>
              </div>
              <div class="email-container">
                <i class="fa fa-envelope"></i>
                <span>
                  info@yoursite.com
                </span>
              </div>
              <div class="address-container">
                <i class="fa fa-map-marker"></i>
                <span>
                  کرج، سه راه گوهردشت، یاسر 5، ساختمان مریم ، پلاک 43
واحد 5
                </span>
              </div>
            </div>
            <div class="col-sm-6 contact-form">
              <h2>فرم تماس</h2>
              <p>
                برای ارتباط سریعتر و راحت تر میتوانید از طریق فرم زیر با ما در ارتباط باشید.
              </p>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label class="col-form-label">نام</label>
                  <input type="text" class="form-control" placeholder="نام خود را وارد نمایید ..."/>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="col-form-label">نام خانوادگی</label>
                  <input type="text" class="form-control" placeholder="نام خانوادگی خود را وارد نمایید ..."/>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="col-form-label">ایمیل</label>
                  <input type="text" class="form-control" placeholder="ایمیل خود را وارد نمایید ..."/>
                </div>
                <div class="col-sm-6 form-group">
                  <label class="col-form-label">شماره همراه</label>
                  <input type="text" class="form-control" placeholder="شماره همراه خود را وارد نمایید ..."/>
                </div>
                <div class="col-sm-12 form-group">
                  <label class="col-form-label">توضیحات</label>
                  <textarea class="form-control" id="" cols="20" rows="7"
                            placeholder="توضیحات خود را وارد نمایید ..."></textarea>
                </div>
                <div class="col-sm-12 action text-center">
                  <button class="btn btn-primary">ارسال</button>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
