<div class="modal-header login-modal-header">
  <span>ثبت نام در چیدنا</span>
</div>
<form novalidate class="login-modal-body" [formGroup]="signupForm" (submit)="onSubmit($event);">
  <div class="modal-body" style="padding: 25px 30px; margin: 3%;">
    <div class="form-group">
      <label>ایمیل</label>
      <input type="text" placeholder="ایمیل خود را وارد نمایید ..."
             formControlName="email"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label>شماره همراه</label>
      <input type="text" placeholder="شماره همراه خود را وارد نمایید ..."
             formControlName="username"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label>رمز عبور</label>
      <input type="password" placeholder="رمز عبور خود را وارد نمایید ..."
             formControlName="password"
             class="form-control"/>
    </div>
    <div class="form-group rememberme">
      <nb-checkbox name="rememberMe">
        شرایط و قوانین
        چیدنا را مطالعه نموده و با آنها موافقم
      </nb-checkbox>
    </div>
    <div class="input-group">
      <button type="submit" class="btn btn-primary btn-block" i18n="save">ثبت نام در چیدنا</button>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="openLoginModal($event)" class="btn btn-primarys" i18n="save">قبلا در چیدنا ثبت نام کرده اید؟
      <span>ورود به چیدنا</span>
    </button>
  </div>
</form>
