<div class="row">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>{{pageTitle}}</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div *ngFor="let form of objectKeys(formList)" class="{{formList[form].containerClass}}">
            <nb-card>
              <nb-card-header>{{formList[form].title}}</nb-card-header>
              <nb-card-body>
                <sf-form [schema]="formList[form].schema">
                </sf-form>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
